<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }
      
      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 50%;
        padding: 10px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      </style>
  </head>
   <body>

    <div class="row">
      <div class="column">
        <fieldset>

        <input type="checkbox" id="Streamlines">
        <label for="Streamlines">Streamlines</label>

        <br> 

        <label for="LNH_Threshold"> LNH Threshold:</label>
        <input type="range" min="0" max="100" value="0" id="LNH_Threshold" name="LNH_Threshold" oninput="LNHValue.innerText = this.value">
        <p id="LNHValue">0</p>

        <br>
        
        <button type='button' id ='retrieve'>Plot</button>

        </fieldset>
      </div>

      <div class="column">
        <iframe src="" height="600" width="600" title="PyVista" id="myimg" frameBorder="0" allowtransparency=yes scrolling=no>
         <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
     
   </body>
  <script>

    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('get_img') }}",
           type: "GET",
           data: { 
               Streamlines:  ($("#Streamlines").is(":checked")),
               LNH_Threshold: $('#LNH_Threshold').val(),

           },
           success: function(response) {
               $("#myimg").attr('src', '/static/' + response);
          },
          error: function(xhr) {
              alert("Please select a mesh type from the drop down menu.");
         }
         });
       });
    });
  </script>
</html>